doctype html
html
  head
    title='Lyft Driver ETA'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css')
    script(src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js')
  body
    block content
